.event-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #19183B;
}

.event-details-card {
  padding: 40px;
  border-radius: 12px;
  background-color: #A1C2BD;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  width: 500px;
  text-align: center;
}

.event-details-title {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: bold;
}

.event-details-text {
  font-size: 18px;
  margin-bottom: 30px;
}

.back-button {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #708993;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #1c5bb8;
}
